---
import { EnvelopeClosed, GitHubLogo } from "@astropub/icons";
import ThemeDice from "./ThemeDice.astro";
---

<section class="flex flex-col items-start gap-4">
    <p class="pb-28 font-semibold">Andrew Moore</p>
    <p class="heading-2">Product Design and Research</p>
    <article>
        <div>
            <div class="flex flex-col gap-4 body-text opacity-80">
                <p>
                    Working with the team at samdesk I am building a leading
                    real-time crisis alerting platform. This is a
                    high-performance tool used by security analysts, defense
                    teams, and government organizations to monitor and respond
                    to global threats. My work is about understanding how
                    analysts operate under pressure, how they triage incoming
                    alerts, assess threat severity, and coordinate responses.
                    And then designing systems that make those workflows faster
                    and more reliable.
                </p>
            </div>
        </div>
        <div class="flex items-center gap-4 pt-6">
            <a
                href="https://github.com/andrewjamesmoore"
                target="_blank"
                class="btn btn-circle btn-ghost"
                title="GitHub"
            >
                <GitHubLogo size={20} />
            </a>

            <a
                href="mailto:hello@andrewjamesmoore.com"
                target="_blank"
                class="btn btn-circle btn-ghost"
                title="Email"
            >
                <EnvelopeClosed size={18} />
            </a>
            <!--
            <div class="btn btn-circle btn-ghost">
                <ThemeDice />
            </div> -->
        </div>
    </article>
</section>
