<section class='flex flex-col gap-6 bg-base-100 items-start px-8 py-8'>
  <p class='text-sm text-primary opacity-50 uppercase'>About</p>
  <div class='lg:w-1/2 md:w-full flex flex-col gap-8'>
    <p class='text-sm text-base-content opacity-80'>
      I'm currently designing and developing real-time threat intelligence
      software. I'm especially interested in learning more about infrastructure,
      security, and how AI is reshaping the way we approach both design and
      development.
      <p class='text-sm text-base-content opacity-80'>
        Outside of work, I enjoy running and hanging out with my coworkers Clark
        and Fionn (they're dogs, but don’t tell them that).
      </p>
    </p>
  </div>
</section>
