<footer
    class="footer sm:footer-horizontal footer-start border-t border-base-100 pt-16 opacity-50"
>
    <aside>
        <p>Copyright © {new Date().getFullYear()} - Andrew Moore</p>
    </aside>
</footer>
