<footer
  class='footer sm:footer-horizontal footer-start border-t border-base-100 px-8 pb-8 pt-16 text-base-content opacity-50'
>
  <aside>
    <p>Copyright © {new Date().getFullYear()} - Andrew Moore</p>
  </aside>
</footer>
