---
import { andrew } from "../utils/constants";
import ThemeDice from "./ThemeDice.astro";
---

<nav class="flex justify-between items-start pb-20">
    <section>
        <div class="flex-col">
            <p class="font-bold">{andrew.title}</p>
            <p class="text-xs opacity-80">
                {andrew.description}
            </p>
        </div>
    </section>
</nav>
