---
import NoteCard from "./NoteCard.astro";
---

<section class='flex flex-col items-start'>
  <p class='sectionTitle'>Notes</p>
  <NoteCard
    title='end-to-end-deployment'
    date='2025-06'
    description='Notes covering every stage of development and infrastructure — from local builds to production-ready automation'
    url='https://gist.github.com/andrewjamesmoore/b3c02cc5b4e92c83f8b49bf349e44641'
  />
  <NoteCard
    title='networking-and-communication'
    date='2025-03'
    description='A structured collection of notes covering essential networking concepts and protocols. It serves as a high-level reference to understand the fundamentals of network communication.'
    url='https://github.com/andrewjamesmoore/networking'
  />
  <NoteCard
    title='Zustand for react state management'
    date='2025-02'
    description='Exploring state management through a basic authentication flow'
    url='https://gist.github.com/andrewjamesmoore/0c7034c54a540b0a42cc95dc12a25f14'
  />
  <NoteCard
    title='colour-systems'
    date='2025-01'
    description='Building a Robust Color System with HSL, CSS Custom Properties, and Typescript Theming'
    url='https://gist.github.com/andrewjamesmoore/4d233b025a91143d609d1a929ab76a98'
  />
</section>
