---
import NoteCard from "./NoteCard.astro";
import { notes } from "../data/notes";
---

<section class='flex flex-col items-start'>
    <p class='sectionTitle'>Notes</p>
    {Object.values(notes).map((note) => <NoteCard {...note} />)}
</section>
