---
import NoteCard from "./NoteCard.astro";
import { notes } from "../data/notes";

const allNotes = Object.values(notes);
---

<div class="flex flex-col w-full gap-6">
    {allNotes.map((note) => <NoteCard {...note} />)}
</div>
