---
import type { Note } from "../types/Note";
import NoteCard from "./NoteCard.astro";
import { getNotes } from "../queries/getNotes";

const notes = await getNotes();
const allNotes = notes.reverse();
---

<section class='flex flex-col items-start'>
  <p class='sectionTitle'>Notes</p>
  {allNotes.slice(0, 4).map((note: Note) => <NoteCard note={note} />)}
  <div tabindex={0} class='collapse collapse-arrow'>
    <input type='checkbox' />
    <div class='collapse-title text-sm opacity-60 px-0'>See more</div>
    <div class='collapse-content px-0'>
      {allNotes.slice(4).map((note: Note) => <NoteCard note={note} />)}
    </div>
  </div>
</section>
