---
import NoteCard from "./NoteCard.astro";
import { notes } from "../data/notes";
---

<div class="notes-wrapper">
    {Object.values(notes).map((note) => <NoteCard {...note} />)}
</div>

<style>
    .notes-wrapper {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
</style>
