---
import type { Project } from "../types/Project";
import { getProjects } from "../queries/getProjects";
import ProjectCard from "./ProjectCard.astro";

const projects = await getProjects();
---

<section class='sectionWrapper'>
  <p class='sectionTitle'>Projects</p>
  {projects.map((project: Project) => <ProjectCard project={project} />)}
</section>
