---
import type { Project } from "../types/Project";
import { getProjects } from "../queries/getProjects";
import ProjectCard from "./ProjectCard.astro";

const projects = await getProjects();
---

<section class="sectionWrapper">
    <p class="sectionTitle">Projects</p>
    {Object.values(projects).map((project) => <ProjectCard {...project} />)}
</section>
