---
import { projects } from "../data/projects";
import ProjectCard from "./ProjectCard.astro";
---

<div class="px-2">
    {Object.values(projects).map((project) => <ProjectCard {...project} />)}
</div>
