---
import { projects } from "../data/projects";
import ProjectCard from "./ProjectCard.astro";
---

<section class='sectionWrapper'>
  <p class='sectionTitle'>Projects</p>
  {Object.values(projects).map((project) => <ProjectCard {...project} />)}
</section>
