---
import { Dice6 } from "lucide-react";
---

<button
    id='theme-dice'
    class='linkText no-underline cursor-pointer hover:text-primary'
    style='transition: transform 0.3s ease-in-out;'
    aria-label='Random Theme'
>
    <Dice6 className='w-4 h-4' />
</button>

<script>
    import { getRandomTheme } from "../utils/theme";

    const dice = document.getElementById("theme-dice");
    let rotation = 0;

    if (dice) {
        dice.addEventListener("click", () => {
            rotation += 90;
            dice.style.transform = `rotate(${rotation}deg)`;

            const currentTheme = document.documentElement.dataset.theme;
            const newTheme = getRandomTheme(currentTheme ?? "");
            document.documentElement.dataset.theme = newTheme;
        });
    }
</script>
