---
import "../styles/global.css";
import { andrew } from "../utils/constants";
---

<!doctype html>
<html lang='en' data-theme='abyss'>
    <head>
        <meta charset='UTF-8' />
        <meta name='viewport' content='width=device-width' />
        <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
        <meta name='generator' content={Astro.generator} />
        <title>
            {andrew.firstname}
            {andrew.lastname} | software development | {andrew.description}
        </title>
    </head>
    <body>
        <section class='flex flex-col gap-12'>
            <slot />
        </section>
    </body>
</html>
